<app-card>
    <div class="flex justify-between" header>
        <h2 class="pl-4">{{ details().name }}</h2>
        <div>
            <span class="icon-info" routerLink="/details/{{details().id}}"></span>
            <span class="icon-bookmark" [toggleFav]="details().id"></span>
        </div>
    </div>
    <div body>
        <img class="object-cover h-80 w-full" [src]="details().image_path" />
    </div>
    <div footer>
        <div class="px-6 py-4">
            <p>{{ lastEpisode() | nextEpisodeCountdown:details().status }}</p>
        </div>
    </div>
</app-card>