<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @for(tvShow of tvShows; track $index) {
      <tr>
        <td data-label="Name">{{ tvShow.name }}</td>
        <td data-label="Country">{{ tvShow.country }}</td>
        <td data-label="Year started">{{ tvShow.start_date | date: 'yyyy' }}</td>
        <td data-label="Status">{{ tvShow.status }}</td>
        <td data-label="Actions">
          <a [routerLink]="'/details/' + tvShow.id"><span class="icon-info"></span></a>
          <span class="icon-bookmark" [class.highlight]="addHighlightClass(tvShow)" (click)="favoritesService.toggleFavorite(tvShow)"></span>
          <span class="icon-link"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
