<div class="container-none">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <fieldset>
          <legend>TV Show Search</legend>
          <label for="name">Name</label>
          <input #searchQuery type="text" id="name" placeholder="Name of the show"/>
          <button class="btn-primary" (click)="runSearch(searchQuery.value, $event)">Search</button>
        </fieldset>
      </form>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-tv-show-table [tvShows]="data().tv_shows"></app-tv-show-table>
        <app-paginator [numberOfShows]="data().total" [totalPages]="data().pages" (pageChanged)="pageClick($event)" [currentPage]="data().page"></app-paginator>
      </div>
    </div>
</div>
